    <% content_for :head do %>
      <%= stylesheet_link_tag    'public', media: 'all' %>
    <% end %>

    <%= content_for :main do %>
    <%= render template: "devise/shared" %>
    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Todo</h3>
              <ul class="nav masthead-nav">
                <li class="active"><%= link_to "Home", welcome_path %></li>
                <li><a data-toggle="modal" href="#modal-sign-in">Sign In</a></li>
                <li><a data-toggle="modal" href="#modal-sign-up">Register</a></li>
              </ul>
            </div>
          </div>

          <div class="inner cover">
          <%= yield %>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Tipsy Bear Studios</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <%= javascript_include_tag 'application' %>
    <% end %>

    <%= render template: "layouts/application" %>
